/* Alerta */

#alert{
  background-color: var(--color-danger);
  padding: 0.75rem;
  border-radius: .75rem;
  display: flex;
  

  & label {
    margin-inline: .5rem auto;
  }

  &.alert-close {
    display: none;
  }

  & a {
    cursor: pointer;
  }
}



