body {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 3.875rem;

  background-color: var(--bg-primary);
}

.list-products {
  padding: 0 1rem;
}

/* Voltar */
.voltar {
  text-decoration: none;
  color: var(--color-brand);
  background: url("../assets/icons/return.svg") no-repeat 1px center / 12px 12px;
  padding-left: 1.2rem;
}
