/* Formulario */

.form {
  width: 627px;
  display: flex;
  gap: 1rem;
}

/* Campo de entrada */

input {
  flex: 1;
  width: 451px;
  height: 44px;
  border-radius: 0.75rem;
  border: 2px solid var(--border-primary);
  background-color: var(--bg-secondary);
  padding: 1rem;

  &:focus {
    outline: 0;
    border-color: var(--color-brand);
  }

  &:hover {
    border-color: var(--border-hover);
  }
}

/* Botao */

.button {
  width: 160px;
  height: 44px;
  background-color: var(--color-brand);
  border-radius: 0.75rem;
  border-style: none;
  color: var(--always-white);

  &:hover {
    background-color: var(--color-brand-hover);
  }
}

/* Lista */

ul {
  list-style: none;

  overflow-y: scroll;
  max-height: 250px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Itens do formulario */
.item {
  color: var(--content-secondary);
  background-color: var(--bg-secondary);

  padding: 1.1rem;
  border-radius: 0.75rem;

  display: flex;
}

.item p {
  margin-right: auto;
}

a {
  display: flex;
  z-index: 999;
  cursor: pointer;
}

.trash {
  z-index: 1;
}

@media (max-width: 1000px) {
  .form {
    width: 300px;
    flex-direction: column;

    & input {
      width: 300px;
    }
  }

  .button {
    width: 100%;
  }
}
