* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Cor de fundo */
  --bg-primary: #f4f5fb;
  --bg-secondary: #ffffff;

  /* Cor de elemento */
  --color-brand: #ca3884;
  --color-brand-hover: #a52c6b;
  --color-danger: #c93847;

  /* Cor de conteudo */
  --content-primary: #080b12;
  --content-secondary: #374151;
  --content-tertiary: #9ca3af;
  --always-white: #ffffff;

  /* Cor de borda */
  --border-primary: #d1d5db;
  --border-hover: #b9c2d0;

  --font: "Inter", sans-serif;
}

html {
  font: 400 1rem/1.5 var(--font);
}

h1 {
  font: 700 1.5rem/2 var(--font);
  color: var(--content-primary);
}

label {
  font: 600 1rem/1.25 var(--font);
  color: var(--always-white);
}

p {
  font: 500 1rem/1.25 var(--font);
}

a {
  font: 500 0.875rem/1 var(--font);
}
