.radio-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;

  gap: 0.75rem;

  position: relative;

  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }

  & .radio-image {
    background: url(../assets/icons/radio-default.svg) center/contain;

    width: 1rem;
    height: 1rem;
  }

  &:hover {
    border: 2px solid var(--color-brand);
    transition: 0.2s ease-out;

    & .radio-image {
      background-image: url(../assets/icons/radio-hover.svg);
    }
  }
}

.radio-inner.is-selected {
  border: 2px solid var(--color-brand);

  & .radio-image {
    background-image: url(../assets/icons/radio-selected.svg);
    transition: 0.2s ease-out;
  }
}
