  .radio-inner {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: .75rem
  }
  
  .radio-image {
    background: url(../assets/icons/alert.svg) center/contain;
    
    width: 1rem;
    height: 1rem;
  }

